#This file contain all the import related directives in ReactNative.
extends javascript

# This is almost a must import
snippet ipr
	import React, { Component } from 'react';

snippet iprn 'import react native components'
	import { ${1} } from 'react-native';
